body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

.score-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.user-weapon-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  background-color: lightgreen;
  border-radius: 100%;
}

.challenger-weapon-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  background-color: pink;
  border-radius: 100%;
}

.icon {
  width: 50px;
  height: 50px;
}

.weapon-1,
.weapon-2,
.weapon-3 {
  margin-top: 15px;
  width: 180px;
  height: 180px;
  background-color: #b6d8f2;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;
}

.weapons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weapon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 20px;
}

.weapon-choice {
  display: flex;
  align-items: center;
  justify-content: center;
}
